<mat-card-content>
  <mat-form-field>
    <input #countInput matInput placeholder="Count (#)" [(ngModel)]="count" (keydown.enter)="onAddToInitiativeClick($event)">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Creature Name" 
      [(ngModel)]="name"
      (keydown.enter)="onAddToInitiativeClick($event)"
      (focusout)="onNameFocusOut($event)"
    >
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Initiative" [(ngModel)]="initiative" (keydown.enter)="onAddToInitiativeClick($event)">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="HP" [(ngModel)]="hp" (keydown.enter)="onAddToInitiativeClick($event)">
  </mat-form-field>
  <button mat-mini-fab color="primary" (click)="onAddToInitiativeClick($event)">
    <mat-icon>add</mat-icon>
  </button>
</mat-card-content>