.mat-raised-button.mat-secondary, .mat-secondary {
  background-color: #ddd;
  color: #000;
}

.mat-raised-button.mat-success, .mat-success {
  background-color: green;
  color: #fff;
}

.mat-raised-button.mat-danger, .mat-danger {
  background-color: red;
  color: #fff;
}