.modal-wrapper {
  display: flex;
  transition: background-color 0.5s ease;
  background: rgba(#000, 0);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1072;
  outline: 0;
  padding: 12px;
}

.modal-dialog {
  margin: auto;
  min-width: 400px;
}

@media screen and (max-width: 767px) {
  .modal-dialog {
    width: 100%;
    min-width: 0px;
  }
}

.modal-wrapper.show {
  background: rgba(#000, 0.7);
}