<mat-table #table [dataSource]="creatures">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <a href="#" (click)="onNameClick($event, element)">{{element.name}}</a>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="initiative">
    <mat-header-cell *matHeaderCellDef>Initiative</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.initiative}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="hp">
    <mat-header-cell *matHeaderCellDef>HP</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-button class="hp" (click)="onHealHarmClick(element)">
        {{element.currentHp}} / {{element.maximumHp}}
      </button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-button (click)="onRemoveClick(element)">Remove</button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{active: initiative === row.initiative}"></mat-row>
</mat-table>