<mat-table #table [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="initiative">
    <mat-header-cell *matHeaderCellDef>Initiative</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.initiative}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="hp">
    <mat-header-cell *matHeaderCellDef>HP</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.currentHp}}/{{element.maximumHp}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="remove">
    <mat-header-cell *matHeaderCellDef>Remove</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-button (click)="onRemoveClick($event, element)">Remove</button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{active: currentInitiative === row.initiative}"></mat-row>
</mat-table>
<mat-card>
  <mat-card-content>
    <mat-form-field>
      <input matInput type="number" placeholder="Count (#)" [(ngModel)]="newCreatureCount" (keydown.enter)="onAddToInitiativeClick($event)"
        #count>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Creature Name" [(ngModel)]="newCreature.name" (keydown.enter)="onAddToInitiativeClick($event)">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Initiative" [(ngModel)]="newCreature.initiative" (keydown.enter)="onAddToInitiativeClick($event)">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="HP" [(ngModel)]="newCreature.maximumHp" (keydown.enter)="onAddToInitiativeClick($event)">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onAddToInitiativeClick($event)">Add Creature{{newCreatureCount === 1 ? '' : 's'}}</button>
  </mat-card-actions>
</mat-card>