<mat-table #table [dataSource]="creatures">
  <ng-container matColumnDef="active">
    <mat-header-cell *matHeaderCellDef class="is-active">Active?</mat-header-cell>
    <mat-cell *matCellDef="let element" class="is-active">
      <mat-slide-toggle [checked]="element.active" [color]="primary" (change)="onActiveToggle($event, element)"></mat-slide-toggle>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <a href="#" (click)="onNameClick($event, element)">{{element.name}}</a>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="initiative">
    <mat-header-cell *matHeaderCellDef>Initiative</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.initiative}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="hp">
    <mat-header-cell *matHeaderCellDef>HP</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-button class="hp" (click)="onHealHarmClick(element)">
        {{element.currentHp}} / {{element.maximumHp}}
      </button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="conditions">
    <mat-header-cell *matHeaderCellDef>Conditions</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span *ngFor="let condition of element.conditions">
        <a [href]="conditionLink(condition)" target="_new">{{condition}}</a>&nbsp;
      </span>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element" class="cell-actions">
      <a mat-icon-button [href]="creatureLink(element)" target="_new">
        <img src="/assets/ddb.png" width="24" height="24" />
      </a>
      <button mat-icon-button color="primary" (click)="onRemoveClick(element)">
        <mat-icon>remove_circle</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{active: isActive(row)}"></mat-row>
</mat-table>