.full-width {
  display: flex;
  flex-direction: column;
}

.hp {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  mat-form-field {
    flex-grow: 1;
    
  }
}

mat-chip[disabled=true] {
  color: #999 !important;
  font-style: italic;
}