<h1 mat-dialog-title>{{creature.name}}</h1>
<div mat-dialog-content>
  <button mat-button>-10</button>
  <button mat-button>-1</button>
  <input matInput type="number" placeholder="#">
  <button mat-button>+1</button>
  <button mat-button>+10</button>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="secondary" (click)="onCancelClick()">Cancel</button>
  <button mat-raised-button color="success" (click)="onHealClick()">Heal</button>
  <button mat-raised-button color="danger" (click)="onHarmClick()">Harm</button>
</div>