mat-card-content {
    display: flex;
    flex-direction: row;
    .cell {
        flex-grow: 1;

        .attribute-title {
            font-weight: bold;
        }

        .primary {
            font-size: 2rem;
        }
    }
}