<mat-card>
  <mat-card-content>
    <div class="cell">
      <div class="attribute-title">Initiative</div>
      <span class="primary">{{currentInitiative || "--"}}</span>
    </div>
    <div class="cell">
      <div class="attribute-title">Round</div>
      <span class="primary">{{currentRound}}</span>
    </div>
    <div class="cell">
      <div class="attribute-title">Time Past</div>
      <span class="primary">{{timePast}}</span>
    </div>
    <div class="cell">
      <button mat-raised-button color="primary" (click)="nextClick.emit(null)">Next</button>
    </div>
  </mat-card-content>
</mat-card>